/* stylelint-disable at-rule-no-unknown */
@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  --primary: #96a9c8;
  --button: #e5eaf0;
  --background: #fff;
  --border: #e2e8f0;
  --input: #d7dbe0;
  --ring: var(--primary);
}
